body {
    background-color: #D9E4FF;
    color: #1D2228;
}

h1 {
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h2 {
    font-size: 75px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #473d0b;
}

h3 {
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #225f53;
}

p {
    line-height: 40px;
}

img {
    border-style: solid;
    padding: 10px;
    border-color: rgb(255, 0, 0);
    margin: 20px;
    border-radius: 30px 30px 0px 0px
}

ul {
    list-style-type: circle;
    display: inline-block;
    margin-left: 50px;
}